<div class="toolbar header" role="banner">
  <span>Grocery Store</span>
</div>

<div class="content" role="main">
  <div class="container">
    <div class="row">
      <div class="col-md">
        <div class="form-floating">
          <input type="text" class="form-control" id="product-name" [(ngModel)]="name" placeholder="Product name">
          <label for="product-name">Name</label>
        </div>
      </div>      
      <div class="col-md">
        <div class="form-floating mb-3">
          <input type="text" class="form-control" id="product-description" [(ngModel)]="description" placeholder="Product description">
          <label for="product-description">Description</label>
        </div>
      </div>
      <div class="col-md">
        <div class="form-floating">
          <select class="form-select" id="product-category" [(ngModel)]="category" aria-label="Product category">
            <option value="">Select a category</option>
            <option value="Bakery">Bakery</option>
            <option value="Dairy">Dairy</option>
            <option value="Fruit">Fruit</option>
            <option value="Meat">Meat</option>
            <option value="Vegan">Vegan</option>
            <option value="Vegetable">Vegetable</option>
          </select>
          <label for="product-category">Product category</label>
        </div>
      </div>
      <div class="col-md">
        <div class="form-floating">
          <select class="form-select" id="product-rating" [(ngModel)]="rating" aria-label="Product rating">
            <option value="undefined">Select a rating</option>
            <option value="0">0</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
          </select>
          <label for="product-rating">Product rating</label>
        </div>
      </div>
      <div class="col-md">
        <div class="form-floating mb-3">
          <input type="number" min="0.00" max="100.00" step="0.01" class="form-control" id="product-price" [(ngModel)]="price" placeholder="Product price">
          <label for="product-price">Price</label>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="d-grid col-2 mb-3">
        <button type="button" class="btn-lg btn-primary" (click)="getProducts()">Search</button>
      </div>
      <div class="d-grid col-2 mb-3">
        <button type="button" class="btn-lg btn-success" (click)="clearFilter()">Clear</button>
      </div>
      <div class="d-grid offset-4 col-2 mb-3">
        <div class="form-floating">
          <select class="form-select" id="product-order" [(ngModel)]="orderType" aria-label="Product order">
            <option value="">Select</option>
            <option value="0">Asc</option>
            <option value="1">Desc</option>
          </select>
          <label for="product-order">Order</label>
        </div>
      </div>
      <div class="d-grid col-2 mb-3">
        <div class="form-floating">
          <select class="form-select" id="product-order-column" [(ngModel)]="orderProperty" aria-label="Product order column">
            <option value="">Select</option>
            <option value="Name">Name</option>
            <option value="Category">Category</option>
            <option value="Description">Description</option>
            <option value="Price">Price</option>
            <option value="Rating">Rating</option>
          </select>
          <label for="product-order-column">Order by</label>
        </div>
      </div>          
    </div>

    <div class="card">
      <h5 class="card-header">Grocery Store Products</h5>
      <div class="card-body custom-card-body">
        <div class="row">
          <table class="table table-light table-striped table-hover mb-0">
            <thead>
              <tr>
                <th scope="col">Name</th>
                <th scope="col">Category</th>
                <th scope="col">Description</th>
                <th scope="col">Height</th>
                <th scope="col">Width</th>
                <th scope="col">Price</th>
                <th scope="col">Rating</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let p of products; let i = index">
                <td>{{p.name}}</td>
                <td>{{p.category}}</td>
                <td>{{p.description}}</td>
                <td>{{p.height}}</td>
                <td>{{p.width}}</td>
                <td>{{p.price}}</td>
                <td>{{p.rating}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
